.BrightnessContainer {
    height: calc(100% - 60px);
    margin-top: 40px;

    &__asteroids {
        height: calc(100% - 120px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 57px;
    }
}