.BrightnessLegend {
  display: flex;
  flex-direction: column;
  height: 40px;
  margin-top: 30px;
  justify-content: space-around;

  &__element {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__description {
    color: #ffffff;
    font-family: Avenir;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-left: 13px;
  }

  &__square {
    box-sizing: border-box;
    height: 11px;
    width: 11px;
    border: 1px solid #ffffff;
    transform: rotate(-45deg);

    &--full {
      background-color: #d8d8d8;
    }
  }
}
