.App {
  background: linear-gradient(180deg, #0A1D19 0%, #184159 86.84%, #19435D 100%);
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 45px;

  &-main {
    width: 88%;
    display: flex;
    flex-direction: column;
  }

  &-side {
    border-left: 0.25px solid #FFFFFF;;
    padding-left: 45px;
    width: 22%;
  }

  &-title {
    color: #FFFFFF;	
    font-family: Avenir;	
    font-size: 20px;	
    font-weight: 900;	
    line-height: 27px;
    text-decoration: underline;
  }

  &-heading {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
  }
}
